<!doctype html>
<html lang="en" xmlns:th="http://www/thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Systems HomePage</title>
</head>
<body>
<h2>Systems HomePage</h2>
<hr>
<p>
    We have annual holiday Caribbean cruise coming up. Register Now!!!! <br>
    Keep this trip a secret, don't tell the regular employees LoL :-)
</p>
<hr>
<a th:href="@{/}">Back to HomePage</a>
</body>
</html>